body {
    min-height: 100%;
    height: 100%;
    font-family: Bad Script;
}

.btnremove{
	width: 40px;
	height: 30px;
}

///* document.getElementById('update-add').addEventListener('click',() =>{
// 	const carteLista = JSON.parse(localStorage.getItem('book-info'));
// 	const objectUpdate = {
// 		"updateAn": document.getElementById('update-an').value,
// 		"updateAutor": document.getElementById('update-autor').value,
// 		"updateDenumire": document.getElementById('update-name').value
// 	};
// 	if(carteLista === null) {
// 		carteLista = [];
// 	}
// 	carteLista.push(objectUpdate);
// 	localStorage.setItem('book-info', JSON.stringify(carteLista));
// 	window.location.reload();
// });

// function deletebook(){
// 	carteLista.splice(id,1)
// }*/