body {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: normal;
}
.bg-grey {
	background-color: #F9F9F9;
}
.d-grid {
	display: grid;
}
/*SITE SOCIAL HEADER*/
.social_header .social_header_list {
	list-style-type: none;
	margin-bottom: 5px;
}
.social_header .social_header_list li {
	margin: 6px 16px;
}
.social_header .social_header_list li a {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
/*SITE HEADER*/
.site_header .nav .nav-item-logo {
	width: 120px;
    position: absolute;
    left: 2%;
    top: 30px;
    padding: 0;
    border: none !important;
}
.site_header .nav .nav-item-logo .nav-link {
	padding: 0;
}
.site_header .nav .nav-item-logo .nav-link img {
	max-width: 100%;
}
.site_header .nav-item {
	cursor: pointer;
	padding: 22px 16px 18px;
}
.site_header .nav-item.active-search {
	background: #fff;
}
.site_header .nav-item.nav-item-search {
	border: none !important;
}
.site_header .nav-item.nav-item-search .btn-link {
	border-bottom: 2px solid #fff;
}
.site_header .nav-item a {
	color: #21272E;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 14px;
}
.site_header .nav-item .btn-link {
	padding: 8px 8px;
	border-radius: 0;
}
.site_header .nav-item:hover .btn-link {
	border-bottom: 2px solid #FF7457;
}
.site_header .nav-item.active,
.site_header .nav-item:hover {
	border-bottom: 3px solid #FF7457;
}
/*SEARCH CONTAINER*/
.search-container img {
	max-width: 100%;
}
.search-container .search-wrapper {
	background: transparent;
	overflow: hidden;
	padding: 0 10% 10px;
	margin-top: -50px;
	background: #FCFCFC;
}
.search-container .search-wrapper .tab-list {
	position: relative;
}
.search-container .search-wrapper .tab-list .tab-item {
	background-color: rgba(255, 255, 255, 0.95);
	color: #41A593;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid rgba(65, 165, 147, 0.2);
	width: 145px;
	float: left;
	padding: 3px 0;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.search-container .search-wrapper .tab-list .tab-item.active {
	background-color: #41A593;
	color: #fff;
}
.search-container .search-wrapper .search-elements {
	display: grid;
	grid-gap: 20px;
	width: 100%;
	grid-template-columns: 3fr 3fr 2fr 2fr 3fr;
	position: relative;
	background: #fff;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 13px 20px;
	box-shadow: 0px 3px 5px 0px #9b9999;
}
.search-container .search-wrapper .search-elements .input-number-wrapper {
	background-color: #EDEDED;
	border-radius: 6px;
	padding: 5px;
}
.search-container .search-wrapper .search-elements .input-number-wrapper input {
	color: #41A593;
    background-color: #fff;
    padding: 5px 3px !important;
    width: 30%;
    position: relative;
    top: 2px;
    left: 5px;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.search-container .search-wrapper .search-elements .input-number-wrapper .btn-plus {
	color: #41A593;
    background-color: #fff;
    height: 26.5px;
    padding: 0 6px;
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    top: 2px;
    border-left: 1px solid rgba(65, 165, 147, 0.2);
}
.search-container .search-wrapper .search-elements .input-number-wrapper img {
	padding: 5px;
    background: #fff;
    float: right;
    border-radius: 50%;
    margin-top: 4px;
}
.search-container .search-wrapper .search-elements input {
	background-color: #EDEDED;
	font-family: 'Lato';
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	padding: 10px 30px;
	border-radius: 6px;
	margin-bottom: 0;
}
.search-container .search-wrapper .search-elements label {
	font-family: 'Lato';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0;
	width: 100%;
}
.btn.btn-green {
	background: #41A593;
	color: #fff;
	border-radius: 6px;
	width: 100%;
}
.input-wrapper input.input-date {
	background-image: url('assets/date_icon.svg');
	background-repeat: no-repeat;
	background-position: 90% center;
}
.input-wrapper input.input-number {
	width: 40%;
	padding: 10px !important;
	background: #fff;
}
/*BANNER CONTAINER*/
.banner-container img {
	max-width: 100%;
}
.banner-container .btn.btn-orange {
    position: absolute;
    bottom: 10%;
    right: 5%;
}
.banner-container .banner-inner-layer {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 70px 0;
}
.banner-container .banner-inner-layer h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	line-height: 36px;
	letter-spacing: 0;
	font-weight: 600;
}
.banner-container .banner-inner-layer p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0;
	font-weight: 400;
	max-width: 600px;
	margin:0 auto;
}
/*PRESENTATION CONTAINER*/
.presentation-container {
	grid-gap: 0;
	grid-template-columns: 7fr 3fr;
}
.presentation-container .item-text .text {
	margin-bottom: 80px;
}
.presentation-container .p-active {
	padding: 22px 24px;
}
.presentation-container p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 23px;
	color: rgba(0, 0, 0, 0.7);
}
.presentation-container .pre-title {
    font-family: 'Lato', sans-serif;
	font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}
.presentation-container .title {
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	line-height: 25px;
    color: #000;
    border-bottom: 2px solid #79BCA8;
}
.presentation-container .position-down {
	position: absolute;
	bottom: 0;
}
.presentation-container .btn {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 9px 40px;
	border-radius: 4px;
	position: absolute;
	bottom: 10%;
}
.presentation-container .btn-down .btn {
	position: absolute;
	bottom: 10%;	
}
.presentation-container .btn.btn-right {
	right: 20px;
}
.presentation-container .btn.btn-left {
	left: 25px;
}
.presentation-container .btn-white {
	color: #FF7457;
	border: 1px solid #FF7457;
	background-color: #fff;
}
.presentation-container .btn-orange {
	color: #fff;
	background-color: #FF7457;
}
.presentation-container .btn.btn-font-small {
	font-size: 16px;
	padding: 9px 0;
	width: 90%;
	margin-left: 5%;
}
.presentation-container .btn:hover {
	transform: scale(1.05);
}
.presentation-container .headline {
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	min-width: 75%;
	top: 10%;
	padding: 10px 20px;
	text-align: center;
}
.presentation-container .headline.headline-right {
	right: 0;
}
.presentation-container .headline.headline-left {
	left: 0;
}
.presentation-container .headline.headline-under {
	top: 30%;
}

/*SAFARI CONTAINER*/
.safari-container {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 3.5fr 6.5fr; 
}
/*ATTRCATION CONTAINER*/
.attraction-container {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 4.5fr 2.5fr 3.5fr; 
}
/*COTACT CONTAINER*/
.contact-container {
	display: grid;
	grid-gap: 10%;
	grid-template-columns: 3.5fr 4.5fr;
	background: #FCFCFC;
	padding: 100px;
}
.contact-container .contact-form label {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0;
	color: #707070;
    float: left;
    text-align: left;
    border-bottom: 2px solid #79BCA8;
    margin-bottom: 40px;
}
.input-wrapper {
	width: 100%;
	clear: both;
}
.input-wrapper input,
.input-wrapper textarea {
	width: 100%;
	border-radius: 26px;
	background-color: #E4E4E4;
	color: #373C44;
	font-family: 'Lato';
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	border: none;
	outline: none;
	text-align: center;
	padding: 12px 40px;
	margin-bottom: 20px;
}
.input-wrapper textarea {
	min-height: 200px;
	resize: none;
	text-align: left;
}
.input-wrapper input.input-user {
	background-image: url('assets/user_icon.svg');
	background-repeat: no-repeat;
	background-position: 20px center;
}
.input-wrapper input.input-email {
	background-image: url('assets/email_icon.svg');
	background-repeat: no-repeat;
	background-position: 20px center;
}
.contact-container .contact-form .btn.btn-send {
	width: 100%;
	position: static;
	background-image: url('assets/send_icon.svg');
	background-repeat: no-repeat;
	background-position: 20px center;
	background-color: #373C44;
	border-radius: 26px;
	margin-top: 20px;
	color: #fff;
}
.contact-container .contact-details {
	width: 100%;
	margin-top: 20px;
	clear: both;
	padding-left: 50px;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: normal;
	line-height: 23px;
	letter-spacing: 0;
	color: #4D4D4D;
	margin-bottom: 100px;
}
.contact-container .contact-details.pin-icon {
	background-image: url('assets/pin_green_icon.svg');
	background-repeat: no-repeat;
	background-position: 0 center;
}
.contact-container .contact-details.phone-icon {
	background-image: url('assets/phone_green_icon.svg');
	background-repeat: no-repeat;
	background-position: 0 center;
}
.contact-container .contact-details.email-icon {
	background-image: url('assets/email_green_icon.svg');
	background-repeat: no-repeat;
	background-position: 0 center;
}
.footer {
	background: #575757;
	padding: 20px 50px;
}
.footer.container a {
	display: inline-block;
	width: 19%;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	color: #FBFBFB;
	text-align: center;
}
/*SEARCH LIST HEADER*/
.search-list-header-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.search-list-header-container .search-list-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.search-list-header-container .search-list-item .bg-green {
	background-color: #41A593;
	padding: 20px;
	color: #fff;
}
.search-list-header-container .search-list-item .bg-green .title {
	font-family: 'Lato';
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0 0 20px;
	border-bottom: 2px solid #fff;
}
.search-list-header-container .search-list-item .bg-green .content {
	font-family: 'Lato';
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
	font-weight: normal;
}
.search-list-header-container .search-list-item > div {
	overflow: hidden;
}
.search-list-header-container .search-list-item .full-image {
	min-height: 100%;
	min-width: 100%;
}
.search-list-header-container .search-list-large-text {
    font-family: 'Lato';
    font-size: 57px;
    font-weight: bold;
    line-height: 67px;
    letter-spacing: 0;
    text-align: center;
    height: 100%;
    padding-top: 90px;
}
.tabs-container {
	margin-top: 30px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
}
.tabs-container .tab-item {
	background: #F3F3F3;
	text-align: center;
	padding: 10px 20px;
	border-bottom: 2px solid #F3F3F3;
	font-family: 'Lato';
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	cursor: pointer;
}
.tabs-container .tab-item.active,
.tabs-container .tab-item:hover {
	border-bottom: 2px solid #41A593;
}
.apartaments-container h4 {
	font-family: 'Lato';
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	margin-top: 20px;
}
.apartaments-container .rooms-container {
	margin-bottom: 16px;
}
.apartaments-container .rooms-container label {
	font-family: 'Lato';
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.5);
	margin-right: 10px;
	margin-top: 16px;
}
.apartaments-container .rooms-container .d-inline-block {
	border-radius: 50%;
	width: 46px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
}
.apartaments-container .rooms-container .d-inline-block:nth-child(2) {
	background-color: #41A593;
}
.apartaments-container .rooms-container .d-inline-block img {
	position: relative;
	top: 10px;
}
.apartaments-list {
	display: grid;
	grid-gap: 16px;
	margin-top: 16px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(230px, auto);
}

.apartaments-list .item {
	box-shadow: 0px 3px 6px #00000017;
	border-radius: 6px;
}

.apartaments-list .item .position-down {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
}

.apartaments-list .item .position-down label {
	color: #fff;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 1px;
}

.apartaments-list .item .position-down .btn-apartaments {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: #fff;
	color: #41A593;
	font-family: 'Lato';
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	border-radius: 0;
	border: none;
	outline: none;
	padding: 0 20px;
}




.calendar-apartament-container.container{
	display: grid;
	grid-template-columns:  1fr 1fr;
	background: #FCFCFC;
	grid-gap: 10%;
}


.calendar-apartament-container2.container{
	display: grid;
	grid-template-columns:  1fr 1fr;
	background: #FCFCFC;
}

.calendar-div{
	width: 351px;
	height: 460px;
	margin-top: 30px;-top: 30px;
}


.calendar-container {
	background-color: white;
	padding-bottom: 20px;
}

	.apartament-container {
	width: 506px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 30px;
	position: relative;
	height: 460px;
}


.img-apartament{
	max-width: 470px;
	min-width: 470px;
	position: absolute;
}
.mini-img{
	position: absolute;
	max-width: 100%;
	min-width: 100%;
	height: 41px;
	left: 215px;
	bottom:9px;
}


.mini-img img{
	width: 45px;
    height: 45px;
	margin: auto;
	border-radius: 50%;
}



.check-calendar{
	width: 100%;
	font-family: 'Lato';
	text-align: left;
	line-height: 13px;
	letter-spacing: 0;
	font-size: 16px;
    margin-left: 20px;
    padding-top: 20px;
}



.text-plan{
	width: 203px;
	height: 19px;
	margin-left: 180px;
	text-align: left;
	font-family: 'Lato';
	letter-spacing: 0;
	color: #575757;
	position: absolute;
	bottom: 0;
	padding-top: 35px;
}


.arrow-imag-r{
	width: 36px;
	height: 36px;
	border: 1px solid #E8E8ED;
	opacity: 1;
	border-radius: 50%;
	position: absolute;
	display: flex;
	top: 237px;
	left:0;
	background-color: #FFFFFF;
}
.arrow-imag-l{
	width: 36px;
	height: 36px;
	border: 1px solid #E8E8ED;
	opacity: 1;
	border-radius: 50%;
	position: absolute;
	display: flex;
	top: 237px;
	right:0;
	background-color: #FFFFFF;
}

.arrow-l-imag{
	width: 8px;
	height: 12px;
    text-align: center;
    vertical-align: baseline;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    margin: auto;
}

.arrow-r-imag{
	height: 12px;
    width: 8px;
    text-align: center;
    vertical-align: baseline;
    margin: auto;
}


.info-apart-section{
	width: 537px;

}

.info-propriety{
	text-align: center;
	height: 22px;
	text-align: left;
	font-family: 'Lato';
	letter-spacing: 0;
	color: #AEAEAE;
	opacity: 1;
	width: 100%;
	padding-left: 10px;
	margin: auto;
	padding-bottom: 25px;
	font-size: 18px;
	}

.imag-info-container{
	width: 463px;
	height: 500px;
	padding-bottom: 53px;
	padding-top: 50px;

}

.imag-container.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	background-color: white;
	grid-row-gap : 2%;
	grid-column-gap : 2%;
}
.info-container{
	padding-bottom:53px;
	padding-top: 25px;
}


.img-info{
	width: 260px;
	height: 232px;;
	position: relative;
}


.img-apartam {
	min-width: 100%;
	max-width: 100%;
	position: relative;
	border-radius: 4px;
}
.img-info-p{
	width: 100%;
	position:absolute;
	left: 0;
	bottom: 0;
	color: #FFFFFF !important;
	text-align: left;
	font-family: 'Lato';
	background-color:rgba(0,0,0,0.5) !important;
	padding-left: 15px;
	height:38px;
	margin-bottom: 0 !important;
	line-height:38px;
}

.btn-info{
	width: 76px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: 'Lato';
/*	background: transparent url('img/1-1.png') 0% 0% no-repeat padding-box;*/
	letter-spacing: 0;
	color:#41A593 !important;
	background-color: #FFFFFF !important;
	height:38px;
	margin-bottom: 0 !important;
	line-height:38px;
	}



.apartament-facilities.container{
	background: #FCFCFC;
}

.first-facilit{

	width: 300px;
	padding: 0;
	text-align: left;
	font-family: 'Lato';
	color: #707070;
	font-size: 16px;
}


.apartament-facilities{
	width: 711px;
	height: 500px;
}


.first-facilit img{
	background-color:#FF7457;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.apartament-facilities.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gallery-photo-container{
  background: #FCFCFC !important; 
  }

 
.body{
  	background: #FCFCFC;
  }


.gallery-div{
	background: rgba(65, 165, 147, 1) 0% 0% no-repeat padding-box;
	width: 260px;
	height: 24px;
	opacity: 0.6;
	position: relative;
	bottom: 0;
	left: 0;
	margin-bottom: 53px;
}



.gallery-paragraph{
	min-width: 100%;
	max-width: 100%;
	bottom: 0;
	left: 0;
	height: 77px;
	text-align: left;
	font-family: 'Lato';
	letter-spacing: 0;
	color:rgba(0, 0, 0, 1);
	font-size: 65px;
	position: absolute;
}


.row{
	flex-wrap:nowrap !important;
	display: flex !important;
   	overflow: hidden;
}


.img-gallery{
	width: 100%;
	height: auto;
  	position: relative;
  	padding-left: 0;
  	background: transparent 0% 0% no-repeat padding-box;
}


.image-from-gallery{
	max-width: 100%;
	min-width: 100%
}


.img-gallery.last{
	width:60%;
	display:inline-block;
	opacity: 0.2 !important;
	margin-right: -35px;
}


.image-from-gallery.last {
 	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);	
}


.arrow-container {
	position: relative;
    float: right;
    padding-right: 180px;
    padding-top: 20px;
}


.arrow-left{
	display: flex;
	width: 40px;
	height: 40px;
	background-color: #E6E6E6;
	margin-right:6px;
	cursor: pointer;
}



.arrow-right{
	display: flex;
	width: 40px;
	height: 40px;
	background-color: #211111;
	cursor: pointer;
}


.prev{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: 8px;
	height: 13px
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
}


.next{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: 8px;
	height: 13px
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
}

.map{
	position: relative;
	width: 1088px;
	height: 492px;
	padding-top: 100px;
	padding-bottom: 100px;
}


.map-img{
	max-width: 100%;
	min-width: 100%;
	height: 392px;
	position: relative;
}


.map-container.container{
	background: #FCFCFC;
}


.map-location{
	position: absolute;
	width: 184px;
	height: 40px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	top: 259px;
	left: 704px;
}


.location-chat{
	position: absolute;
	width: 100%;
	height: 0;
}


.location-chat:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -13px;
}


.map-icon{
	background: white;
	background-repeat: no-repeat;
	background-position: 0 center;
	border-radius: 10%;
	margin: auto;
}


.div-icon-map{
	width: 38px;
	height: 40px;
	background:#F5F5F5;
	display: flex;
}


.p-location{
	margin-top: -30px;
	font-family: 'Lato';
	color:rgb(0,0,0,0.6);
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;




}


/*calendar*/

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: auto;
	padding: 0;
	border: none;
	border-spacing: 0;
}
.calendar{
	max-width: 100%;
	min-width: 100%;
}

.ui-datepicker {
	position: relative;
	cursor: default;
	font-family: 'Lato';
	font-size: 14px;
}

.ui-datepicker-header {
    position: relative;
}
 
.ui-datepicker-title { 
	text-align: center;
    padding-bottom: 18px;
 }
 
.ui-datepicker-month {
    position: relative;
    font-weight: bold;
}
 
.ui-datepicker-year {
    padding-left: 8px;
    color: rgba(67, 66, 93, 1);
    width: 90px;
	height: 19px;
	font-family: 'Lato';
	font-weight: bold;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    color: rgba(67, 66, 93, 1);
    width: 90px;
	height: 19px;
	font-family: 'Lato'; 
}

.ui-datepicker-prev {
    position: absolute;
    top: -2px;
    padding-left: 40px;
    cursor: pointer;
}
 

 .ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding-right: 40px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
}
 
.ui-datepicker-next {
    right: 0;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;
    background-image: url(./img/arrows.png);
}
 
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -5px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
 
.ui-datepicker-next-hover span { background-position: -5px -10px; }


.ui-datepicker-calendar th {
    padding-bottom: 10px;
    border-bottom: 1px solid #E9E9F0;
	text-align: center;
	font-family: 'Lato';
	color: #A3A6B4;	
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    margin-top: 10px;
    outline: none; 
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
}
 
.ui-datepicker-other-month .ui-state-default {
 	color: white;
}


.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
  margin:auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 304px;
   margin:auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    height: 304px;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    height: 304px;

  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}


.slide-box.p img{
	padding: 8px;
	border-radius: 15px;
}

.list.header {
	font-weight: bold;
	font-size: 120%;
}
.list.row * {
	display: inline-block;
	width: 200px;
	text-align: center;
}
.list.row {
	display: inline-block;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}
.list.row > div {
	border-right: 2px solid #ccc;
}


.parent-carousel{
	width: 100%;
	position: relative; 
  	overflow: hidden;
  	display: block;
	
}
.carousel-img{
 	display: flex;
  	justify-content: space-between;
  	margin:auto;
  	position: absolute;
  	padding-top: 100px;
  	max-width: 200%;
  	min-width: 200%;
    transition: transform 1s ease 0s; 
 }

.arrow-container-img{
	width: 100%;
	position:absolute;
	max-width: 100%;
    min-width: 100%;
    margin-right: auto;
    bottom: 177px;
    backface-visibility: visible; 
}

.btnright{
	cursor: pointer;
	float: right;
	position: absolute;
	right: 10px;
	display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: black;
    padding: 6px;
    border-radius: 5px;
    margin-right: 19px;

}

.btnleft{
	float: left;
    cursor: pointer;
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: black;
    padding: 6px;
    border-radius: 5px;
}



.arroww-left{
	display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-left: -1px;  
}


.btnleft:hover{
	background-color: white;
}

.btnright:hover{
	background-color: white;
}


.arroww-right{
    display: inline-block;
    width: 20px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    height: 20px;
    margin-top: -4px;
    margin-right: -1px;  
}


.overflow{
	overflow: visible;
}

.newImag:nth-child(n-4){
	height: 304px;
	max-width: 26%;
	min-width: 26%;
	position: relative;
}


.newImag:nth-child(n+5){
    height: 294px;
    max-width: 26%;
    min-width: 26%;
    position: relative;
    padding: 6px 8px;
    border-radius: 15px;
}